/************************************************
***************************************************
**************** mobil first ********************
*********************************************
***********************************/
body {
  margin: 0 0;

}

*{

}

@font-face {
  font-family: "OpenSansSemibold";
  font-style: normal;
  font-weight: 600;
  src: url("https://www.leboncoin.fr/fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.leboncoin.fr/fonts/opensans-semibold-webfont.woff2") format("woff2"), url("https://www.leboncoin.fr/fonts/opensans-semibold-webfont.woff") format("woff"), url("https://www.leboncoin.fr/fonts/opensans-semibold-webfont.ttf") format("truetype"), url("https://www.leboncoin.fr/fonts/opensans-semibold-webfont.svg#open_sanssemibold") format("svg");
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url("https://www.leboncoin.fr/fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("https://www.leboncoin.fr/fonts/opensans-regular-webfont.woff") format("woff"), url("https://www.leboncoin.fr/fonts/opensans-regular-webfont.ttf") format("truetype"), url("https://www.leboncoin.fr/fonts/opensans-regular-webfont.svg") format("svg");
}
/******************** header ******************
***********************************************/

header {
  background: #f56b2a;
  border: 1px solid black;
  display: flex;



}
.responsive {
  display: flex;
  justify-content: flex-start;
  width: 100%;

}

a.responsive-menu {
  width: 50px;
  height: 28px;
  margin: 10px;
  padding: 7px 10px 0px;
  text-align: center;
  color: #f56b2a;
  background: #fff;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  font-family:"OpenSans" , sans-serif;
}

a.logo {



}

.logo img {
  margin-left: 20%;
  padding-top: 5px;
  width: 60%;
  max-height: 60px;
  background: #f56b2a;
}


/*****navigation*****/

header nav {
display: none;
}

header nav a {

}

/*****navigation*****/

/******************* header ****************************
******************************************************/




/********************* sections *********************
*****************************************************/

/****************section top ***************/
section {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

/*****contain  left side*****/
.left-side {
  width: 100%;
}

.search-and-deposite {
  border: 1px solid black;
  min-height: 150px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.depot-annonce, .search-around {
  min-width: 75%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 4px;
  font-family: 'OpenSans' , sans-serif;
  font-weight: 600;
  font-size: 14px;

}

.depot-annonce {
  background: #4183d7;
  color: #fff;
}

.search-around {
  color: #4183d7;
  border: 1px solid #4183d7;
}

.search-and-deposite p {
  font-family: 'OpenSansSemiBold' , sans-serif;
  font-weight: 600;
  font-size: 14px;
  font-style: normal;
  margin: 15px;
  border: 1px solid black;
}
p span{
  color:  #f56b2a;
}

.side-news {
  display: none;
}

.news-leboncoin {

}

/*****contain  left side*****/


/*****contain right side*****/

.right-side {

}

/*map */

.map {

}

.map img {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid red;

}

map {

}

/*map */

/*department-list*/

.department-list {
display: none;
}

/*department-list*/

/*roll-list*/

.roll-list {
  width: 100%;
  border: 1px solid blue;
  display: flex;
  margin-top: 20px;

}

select {
  background-color: transparent;
  font-family: 'OpenSansSemiBold', sans-serif;
  font-weight: 600;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 50px;
  width: 90%;
  margin: auto;
}

option {

}

/*roll-list*/

/*****contain left side*****/

/******************section top *****************/


/***************** section bottom ***************/

section.bottom {
  font-family: 'OpenSans' , sans-serif;
  font-weight: 600;
  font-size: 8px;
  text-align: center;
}
section.bottom a {
  color: #4183d7;
}



/*************** section bottom *************/




/************************ sections********************
*******************************************************/




/*************************** footer ************************
***********************************************************/


footer {
  border: 1px solid black;
}

/****** footer navs******/

.footer-navs {
  display: none;
}

.footer-nav {

}

.partners {
  display: none;
}

/****** footer navs******/


/***** partner *****/


/***** partner *****/

/***** copyrigth ****/

/***** copyrigth ****/

/************************** footer ***********************
**********************************************************/



/*********************************************
***********************************************
****************for tabs***********************
***********************************************
**********************************************/
