/************************************************
***************************************************
**************** mobil first ********************
*********************************************
***********************************/
body {
  margin: 0 0;

}

*{

}
/******************** header ******************
***********************************************/

header {
  background: #f56b2a;
  border: 1px solid black;
  display: flex;



}
.responsive {
  display: flex;
}

a.responsive-menu {
  width: 46px;
  height: 28px;
  margin: 10px;
  padding: 7px 10px 0px;
  text-align: center;
  color: #f56b2a;
  background: #fff;
  border-radius: 4px;
  text-decoration: none;
}
a.logo {

  border: 1px solid black;
  position: absolute;
  left: 45%;

}

.logo img {
  width: 50px;
  background: #f56b2a;
}


/*****navigation*****/

header nav {
display: none;
}

header nav a {

}

/*****navigation*****/

/******************* header ****************************
******************************************************/




/********************* sections *********************
*****************************************************/

/****************section top ***************/
section {
  border: 1px solid black;
}

/*****contain  left side*****/
.left-side {

}

.search-and-deposite {

}

.depot-annonce, .search-around {

}

.depot-annonce {

}

.search-around {

}


p span{

}

.side-news {
  display: none;
}

.leboncoin {

}

/*****contain  left side*****/


/*****contain right side*****/

.right-side {

}

/*map */

.map {

}

img {

}

map {

}

/*map */

/*department-list*/

.department-list {
display: none;
}

/*department-list*/

/*roll-list*/

.roll-list {

}

select {

}

option {

}

/*roll-list*/

/*****contain left side*****/

/******************section top *****************/


/***************** section bottom ***************/

section h2 {

}

/*************** section bottom *************/




/************************ sections********************
*******************************************************/




/*************************** footer ************************
***********************************************************/


footer {
  border: 1px solid black;
}

/****** footer navs******/

.footer-navs {
  display: none;
}

.footer-nav {

}

.partners {
  display: none;
}

/****** footer navs******/


/***** partner *****/


/***** partner *****/

/***** copyrigth ****/

/***** copyrigth ****/

/************************** footer ***********************
**********************************************************/



/*********************************************
***********************************************
****************for tabs***********************
***********************************************
**********************************************/
